alias bat=batcat
alias mdir='f() { mkdir -p $1 && cd "$_" };f'
alias cht='f() { curl -s cht.sh/$1 | less };f'
alias jn='jira new'
alias dockerstopall='docker stop $(docker ps -a -q)'
alias dockerreno='docker update --restart=no $(docker ps -a -q)'
alias fx=nautilus
alias cd=z