alias bat="batcat"
# recursive fuzzy search for file NAME starting in the current directory and open the selected file in vs code
alias fpv="fzf --preview 'batcat --style=numbers --color=always {}' --preview-window=up:50% --bind 'enter:execute(code {})'"
alias mdir='f() { mkdir -p $1 && cd "$_" };f'
alias cht='f() { curl -s cht.sh/$1 | less };f'
alias timer="timer.sh"
alias xo="xdg-open" 
alias cd="z"

# jira zsh plugin
alias jb="jira branch"
alias jn="jira new"

# docker
alias dockerstopall='docker stop $(docker ps -a -q)'
alias dockerreno='docker update --restart=no $(docker ps -a -q)'