[user]
    name = Michael Hirsch
[core]
	autocrlf = input
	hooksPath = $HOME/.githooks
[alias]
	uncommit = reset HEAD~1
	lg = log --color --graph --pretty=format:'%Cred%h%Creset-%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[pull]
	rebase = true

# Default to personal
[include]
    path = ~/.gitconfig-personal

# If work config exists, override personal everywhere
[include]
    path = ~/.gitconfig-work

# But always use personal in ~/personal/*
[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal
