[Desktop Entry]
Type=Application
Exec=touch ~/.todo.txt && gedit ~/.todo.txt
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[de_DE]=TODOs
Name=TODOs
Comment[de_DE]=
Comment=
